certifi==2020.12.5
chardet==4.0.0
dataclasses>=0.6
decorator==4.4.2
gtsam==4.1.0
idna==2.10
imageio==2.9.0
importlib-resources==5.1.2
MyQR==2.3.1
netaddr==0.8.0
netifaces==0.10.9
networkx==2.5.1
numpy==1.19.5
opencv-python==4.5.1.48
Pillow==8.2.0
pygame==2.0.1
requests==2.25.1
robomaster==0.1.1.63
Shapely==1.7.1
urllib3==1.26.4
zipp==3.4.1
